* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8C43FF;
    font-family: Arial, Helvetica, sans-serif;
}


.columns {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 3vh 20vh;
    border-radius: 10px 10px 10px 10px;
}

.column {
    text-align: center;
    padding: 1.25rem;

}

.column3 {
    border-left: 1px solid #E6ECF8;
}


.column1 {
    border-right: 1px solid #E6ECF8;
}

ul {
    list-style: none;
}

img {
    padding-bottom: 0.5em;
}

h1 {
    padding-bottom: 0.5em;
}

.heading {
    padding-top: 2em;
}

.heading2 {
    padding-top: 4em;
}